doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')  
    title
      | MuMoAfruika | INFO CURRATING
    link( rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous")
    link(  rel="stylesheet",href='css/select/select2.min.css')
    link(  rel="stylesheet",href='css/emailinfocurrating.css')
    link( href='https://fonts.googleapis.com/css?family=Anton', rel="stylesheet")
  body
    header.container-fluid
      img(src='images/MuMoAfruika.png',class="img-responsive", alt='MuMoAfruika logo')
    section.maincontent.container-fluid
      #getemail
        h1 SELECT A USER TYPE 
        select.userselection
          option(value='') 
          option(value='artist') MUSIC ARTIST
          option(value='producer') MUSIC PRODUCER
          option(value='fan') FAN / LISTENER
      #selectioncontent
        p MuMoAfruika will be fueled by 3 main user types. Each user type will have its own distinct functions that tailor it to its user group. To get started with subscribing to our email blast, please use the above drop down menu to select a user type.
      #unsubscribe(style='display:none') #{unsubscribe}
      #welcomedialog
        table(class="table" , id="head")
          thead
            th
              h1 WELCOME TO MuMoAfruika
          tbody
            tr        
              p Thank you for visiting our page. Whilst we are still in development, we would like you to be able to sign up for our email blast to stay updated with our development progress. In addition to being able to sign up for our email blast, we will be able to give you exclusive and first access to our platform when its ready.
          tfoot
            tr
              button(id='close') CONTINUE 
    section(class='cd-horizontal-timeline container-fluid' , style='display:none')
      .timeline
          .events-wrapper
              .events
              ol
                  li
                      a(href='#0' ,data-date='16/04/2017' ) INFORMATION GATHERING & ANALYSIS
                      button.done DONE 
                  li(class='selected')
                      a(href='#0' ,data-date='16/05/2017') DESIGN
                      button.progress IN PROGRESS
                  li(class='inactive')
                      a UI & UX DEVELOPMENT                      
                  li(class='inactive')
                      a FUNCTIONAL DEVELOPMENT
                  li(class='inactive')
                      a BETA FUNCTION TEST-1
              span(class='filling-line' aria-hidden='true')

      .events-content(style='')
        p In this phase we are focusing on the graphical design part of our development process. This is chosing color palettes, the types of buttons, and every other nitty gritty visual aspect that will end up on our platform. The main inspiration behind our design choices will be to showcase Africa's exuberance. We are almost done with our design and about to move on to our next phase.
         
    footer.container-fluid
      div.row
        div.col-md-12
          a  DEVELOPMENT PROGRESS 
          a  ABOUT MuMoAfruika

      div.row
        div.col-md-12
          a(href='http://www.facebook.com/mumoafruika')
           img(src='images/fb.png', alt='facebook logo link')                  
          a(href='https://www.instagram.com/mumoafruika')
            img(src='images/ig.png', alt='instagram logo link')

    script( src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
    script( src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous")
    script(src='js/jquery/jquery-ui.min.js', defer)
    script( src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous")
    script(src='js/select/js/select2.full.min.js', defer)
    script(src='js/emailinfocurrating.js', defer)

