doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')  
    title
      | MuMoAfruika | INFO CURRATING
    link(rel='stylesheet', href='css/select/select2.min.css')
    link(rel='stylesheet', href='css/emailinfocurrating.css')
    link(rel='stylesheet', href='css/rwd.css')
    link(href='https://fonts.googleapis.com/css?family=Anton', rel='stylesheet')
  body
    header
      img(src='images/MuMoAfruika.png', alt='MuMoAfruika logo')
    section.maincontent
      #getemail
        h1 SELECT A USER TYPE 
        select.userselection
          option(value='') 
          option(value='artist') MUSIC ARTIST
          option(value='producer') MUSIC PRODUCER
          option(value='fan') FAN / LISTENER
      #selectioncontent
        p MuMoAfruika will be fueled by 3 main user types. Each user type will have its own distinct functions that tailor it to its user group. To get started with subscribing to our email blast, please use the above drop down menu to select a user type.
      #unsubscribe(style='display:none') #{unsubscribe}
      #welcomedialog
        #head
          h1 WELCOME TO MuMoAfruika
        section        
          p Thank you for visiting our page. Whilst we are still in development, we would like you to be able to sign up for our email blast to stay updated with our development progress. In addition to being able to sign up for our email blast, we will be able to give you exclusive and first access to our platform when its ready.
          button(id='close') CLOSE 
    section(class='cd-horizontal-timeline' , style='display:none')
      .timeline
          .events-wrapper
              .events
              ol
                  li
                      a(href='#0' ,data-date='16/04/2017' ) Information Gathering & Analysis 
                  li
                      a(href='#0' ,data-date='16/05/2017' ,class='selected') Design 
                  li
                      a(href='#0' ,data-date='16/06/2017') UI & UX Developement                       
                  li
                      a(href='#0' ,data-date='16/07/2017') Functional Development 
                  li
                      a(href='#0' ,data-date='16/10/2017') BETA TEST
              span(class='filling-line' aria-hidden='true')
          
      ul(class='cd-timeline-navigation')
          li
              a(href='#0' ,class='prev inactive') Prev
          li
              a(href='#0' ,class='next') Next

      .events-content(style='display:none')
          ol
              li(data-date='16/04/2017')
                  h2 Information Gathering & Analysis 
                  p   
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.

              li(class='selected', data-date='16/05/2017')
                  h2 Design
                  p
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.

              li(data-date='16/06/2017')
                  h2 UI & UX Developement
                  p
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.

              li(data-date='16/07/2017')
                  h2 Functional Development
                  p   
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.

              li(data-date='16/10/2017')
                  h2 BETA TEST 1
                  p
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
    footer
      a  DEVELOPMENT PROGRESS 
      a 
      a  ABOUT MuMoAfruika
      br
      a(href='http://www.facebook.com/mumoafruika')
        img(src='images/fb.png', alt='facebook logo link')
      a(href='https://www.instagram.com/mumoafruika')
        img(src='images/ig.png', alt='instagram logo link')
    script(src='js/jquery/jquery-3.1.1.min.js')
    script(src='js/jquery/jquery-ui.min.js')
    script(src='js/select/js/select2.full.min.js')
    script(src='js/emailinfocurrating.js')

