@media screen and (max-width: 479px){
  
/**********************************
	HEADER
  ***********************************/
header{
	margin-top:-3%;
 	height:162.5px;
}
 header img{
 	width:97%;

 }
/**********************************
	BODY CONTENT
  ***********************************/

#welcomedialog {
	width:95%;
	margin-left:2.5%;
}
 
#welcomedialog section {
	margin-top:-26px;
} 

/**********************************
	DEVELOPMENT PROGRESS
***********************************/
.selected {
	width:95%;
}

.events-wrapper ol {_
	overflow-x: hidden;
}

.inactive {
	display:none;
}

.events-wrapper ol li {
	width:45%;
	margin-left:0;
}
/**********************************
	FOOTER
***********************************/
  footer img {
	  width:8%;
  }


}


@media screen and (min-width: 480px) and (max-width: 543px){
  
/**********************************
	HEADER
  ***********************************/

 header img{
 	width:97%;
 	height:162.5px;

 }
/**********************************
	BODY CONTENT
  ***********************************/


#welcomedialog {
	width:95%;
	margin-left:2.5%;
}

#welcomedialog section {
	margin-top:-26px;
} 


/**********************************
	DEVELOPMENT PROGRESS
***********************************/
.selected {
	width:95%;
}

.events-wrapper ol {_
	overflow-x: hidden;
}

.inactive {
	display:none;
}

.events-wrapper ol li {
	width:45%;
	margin-left:0;
}
 
/**********************************
	FOOTER
***********************************/
  footer img {
	  width:8%;
  }

}
@media screen and (min-width: 544px) and (max-width:589px){
  
/**********************************
	HEADER
  ***********************************/
 header{
	margin-top:-3%;
 	height:162.5px;
 }
 header img{
 	width:97%;

 }
/**********************************
	BODY CONTENT
  ***********************************/


#welcomedialog {
	width:95%;
	margin-left:2.5%;
} 

#welcomedialog section {
	margin-top:-26px;
} 


/**********************************
	DEVELOPMENT PROGRESS
***********************************/
.selected {
	width:95%;
}

.events-wrapper ol {
	overflow-x: hidden;
}

.inactive {
	display:none;
}

.events-wrapper ol li {
	width:45%;
	margin-left:0;
}
/**********************************
	FOOTER
***********************************/
  footer img {
	  width:8%;
  }
        
}

@media screen and (min-width:590px) and (max-width:618px){

/**********************************
	HEADER
  ***********************************/

 header img{
 	width:97%;
 	margin-top:35%;

 }
/**********************************
	BODY CONTENT
  ***********************************/


#welcomedialog {
	width:95%;
	margin-left:2.5%;
}
 
#welcomedialog section {
	margin-top:-26px;
}  
/**********************************
	FOOTER
***********************************/
  footer img {
	  width:8%;
  }

}
@media screen and (min-width:619px) and (max-width: 669px){
/**********************************
	HEADER
  ***********************************/

 header img{
 	margin-top:11%;

 }
/**********************************
	BODY CONTENT
  ***********************************/

#welcomedialog {
	width:95%;
	margin-left:2.5%;
}

#welcomedialog section {
	margin-top:-26px;
} 
 
/**********************************
	FOOTER
***********************************/
  footer img {
	  width:4%;
  }

}
@media screen and (min-width:670px) and (max-width: 799px){
 /**********************************
	BODY CONTENT
  ***********************************/

#welcomedialog {
	width:95%;
	margin-left:2.5%;
}

}

@media screen and (min-width:745px) and (max-width: 799px){
  

}

@media screen and (min-width:800px) and (max-width: 914px){
  
 
}


@media screen and (min-width: 915px) and (max-width: 1045px) {
  
 
}

